alias realias='chmod u+w ~/.aliases; $EDITOR ~/.aliases; source ~/.aliases; chmod -w ~/.aliases'

alias f='find . -name '

alias dl='ack -h "^(?:require|use)\s+(\w+(?:::\w+)*).*" --output=\$1 | sort -u | ack -v "(strict|warnings)"'

alias msp='mysqladmin processlist | grep'
alias msk='mysqladmin kill'

alias BD='perl -MO=Deparse'

alias bb='perl ./Build.PL && b test'
alias b='./Build'

alias pd='perldoc'
alias psg='ps -ef | grep'



