[user]
	name = ben hengst
	user = notbenh
	email = notbenh@cpan.org
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[pager]
	status = true
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	staged = diff --cached
	unstaged = diff
	both = diff HEAD
	dc = svn dcommit
   sup = svn rebase && git svn fetch --all
   dup = svn dcommit && git svn rebase && git svn fetch --all 
   duf = svn dcommit && git svn rebase && git svn fetch --all && fg
[format]
	numbered = auto
[core]
	legacyheaders = false
  #editor = subl -n -w
  editor = vim
  pager = less -FRXSM
[repack]
	usedeltabaseoffset = true
[github]
	user = notbenh
	token = 84ab663acaea45f75a3bf190ed77d6a9
[merge]
	tool = meld
[bash]
   showDirtyState = true
[push]
	default = matching
